@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700;800&family=Dancing+Script:wght@700&display=swap');

.desktop {
    display: block;
}
.desktop-flex {
    display: flex;
}
.mobile {
    display: none;
}
body, h1 {
    margin: 0;
    font-family: 'Cormorant Garamond';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
}
img {
    width: 100%;
}
header {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}
header .bg {
    background-color: rgba(0, 0, 0, 0.39);
    padding: 12px;
}
header .bg .content {
    padding-top: 8px;
}
header nav ul {
    list-style: none;
    display: flex;
    font-size: 30px;
    margin: 0;
    justify-content: center;
    padding: 0;
}
header nav ul li:hover,
header nav ul li.active {
    font-weight: 800;
}
header nav ul li.line {
    margin: 0 4px;
}
header a {
    text-decoration: none;
    color: #fff;
}
.hero {
    background-image: url(../images/About.jpg);
    height: 650px;
    width: 100%;
    background-size: 108% auto;
    background-position: center right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .title {
    margin: 0;
    font-family: 'Dancing Script', sans-serif;
    text-shadow: 4px 4px 4px #000;
    font-size: 65px;
    color: #fff;
}

@media screen and (max-width: 1023.98px) {
    .hero {
        height: 400px;
    }
    .title {
        padding-top: 85px;
    }
}

@media screen and (max-width: 767.98px) {
    .mobile {
        display: block;
    }
    .mobile-flex {
        display: flex;
    }
    .desktop,
    .desktop-flex {
        display: none;
    }
    h1 {
        font-size: 35px;
    }
    header h1 {
        text-align: left;
    }
    header .bg .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu {
        background-color: rgba(0, 0, 0, 0.19);
        display: none;
    }
    .menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        margin: 0 auto;
        padding: 0.25em 0.5em;
        max-width: 345px;
    }
    .menu ul li {
        font-size: 1.5rem;
        line-height: 1.75rem;
        font-weight: 700;
    }
    .hero {
        background-size: cover;
        background-position: center;
    }
}