@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Dancing+Script:wght@700&display=swap');

body, h1 {
    margin: 0;
    font-family: 'Cormorant Garamond';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.desktop {
    display: block;
}
.desktop-flex {
    display: flex;
}
.mobile {
    display: none;
}
h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
}
header {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}
header .bg {
    background-color: rgba(0, 0, 0, 0.39);
    padding: 12px;
}
header .bg .content {
    padding-top: 8px;
}
header nav ul {
    list-style: none;
    display: flex;
    font-size: 30px;
    margin: 0;
    justify-content: center;
    padding: 0;
}
header nav ul li:hover,
header nav ul li.active {
    font-weight: 700;
}
header nav ul li.line {
    margin: 0 4px;
}
header a {
    text-decoration: none;
    color: #fff;
}


@media screen and (max-width: 767.98px) {
    .mobile {
        display: block;
    }
    .desktop,
    .desktop-flex {
        display: none;
    }
    h1 {
        font-size: 35px;
    }
    header h1 {
        text-align: left;
    }
    header .bg .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}